.logo > img{
    width:25%;
    float:left;
}
#navigation_bar {
    display: inline-block;
    padding: 0 3px;
}
#navigation_bar >ul {
    display: inline-block;
    float:right;
    list-style-type: none;

}
.nav-item {
   display: inline;
   padding: 5px;
   font-size: large;
}

#info  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.detail {

  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: left;


}
.product1,.product2,.product3 {
  display: block;
  position: relative;
  margin:1%;
  float:left;
  width:30%;

  background-color: lightgrey;
    /* margin-top: 20px;
    font-size: 30px;
    display:flex;
    flex-direction:column;
    justify-content:center; */
}
/* footer {
    display: block;
    justify-content: right;


} */
/* ul{

    list-style-type: none;
    display: inline;

} */
/*footer ul {
    display: block;
    position: relative;
    margin: 1%;
    float: left;
    width: 23%;
    height: 400px;
    background-color: lightgrey;
}*/

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}


li{
  display: inline;
}
.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}


.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}
